<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} To-DO application {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}">
</head>
<body>

    <header>
        <div class="container">
            <h1>
                This is my TO-DO app 
            </h1>t
            <nav>
                <a href="{{ url_for('task.view_tasks') }}"> Home </a>
                {% if 'user_id' in session %}
                <a href="{{ url_for('auth.logout') }}"> logout </a>              
                {% else %}
                <a href="{{ url_for('auth.login') }}"> login </a>     
                {% endif %}
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=True)  %}
                {% for category,message in messages %}
                <div class="flash {{category}}"> {{ message }} </div>    
                {% endfor %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy;{{2025}} Build With 💝 By Team NAVV</p>
        </div>
    </footer>    

</body>
</html>